---
name: check-and-trigger

on:  # yamllint disable-line rule:truthy
  workflow_dispatch:  # Trigger manually from github
  #  schedule:
    #  - cron: '0 * * * *'  # Every hour

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Build
        run: go build

      - name: Run
        run: ./builder-trigger
        env:
          GH_TOKEN_TRIGGER: ${{ secrets.GH_TOKEN_TRIGGER }}

      - name: Commit build files
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add last-execution.json
          git diff-index --quiet HEAD || git commit -m "Update last-execution"
          git push
